*/target/
/.idea/
*/.env
.env
*.pub
*.iml
*.pem
/*.jks

application.properties
application-dev.properties
/qodana.yaml
/*.ps1

/publickey.crt
/publickey.der
/ansible/inventory.ini
/ansible/ansible_env/
/ansible/*.log

/ci_cd/application-prod.properties
/ci_cd/copy_script.sh
/ci_cd/*.ps1
/ci_cd/deployment-config.properties
/run_tunnel.sh
/kneobroadcaster/uploads/

