name: CI of ProjectW

on:
  workflow_dispatch:

  push:
    branches:
      - master

jobs:
  compile:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [ 11 ]
    name: Java ${{ matrix.java }} compile
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-package: jdk
          java-version: ${{ matrix.java }}
      - run: mvn package
      - run: pwd
      - run: ls

      - name: Copying files to server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.REMOTE_HOST }}
          port: ${{ secrets.REMOTE_PORT }}
          username: ${{ secrets.REMOTE_USER }}
          key: ${{ secrets.SSH_KEY }}
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          rm: false
          source: "target/quarkus-app/"
          target: "${{ secrets.REMOTE_DIR }}"
      - name: ls -a via ssh
        uses: garygrossgarten/github-action-ssh@release
        with:
          command: ls -a
          host: ${{ secrets.REMOTE_HOST }}
          username: garygrossgarten
          passphrase: ${{ secrets.SSH_KEY_PASSPHRASE }}
          privateKey: ${{ secrets.SSH_KEY}}
